<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        {{content}}
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
	                <img src="/{{ site.baseurl }}img/logo_dreamo2.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
