<header id="come_partecipare">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>{{page.come-titolo}}</h1>
                        <p>{{page.come-testo}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                </div>
            </div>
        </div>
    </div>
</header>
