<section id="perche" class="download bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Perché Dreamo</h2>
                <h3><strong>La nostra idea</strong></h3>
                <p>Cosa succederebbe se un dispositivo consentisse di leggere e visualizzare le proprie emozioni, rendondo unica la propria perfomance musicale?</p>
	              <p>Dreamo è l'incontro tra tecnologia ed emozioni umane. <br> 
			      Lo scopo di Dreamo è generare una visualizzazione grafica che vari a seconda dello stato d’animo dell'artista e della musica scelta per la performance.</p>
                <p>A partire dai dati ricavati, e sulla basi di principi estetici e psicologici, Dreamo genererà un video astratto, modificando in tempo reale vari parametri e scegliendo la scena più adatta ad una particolare esecuzione ed interpretazione.</p>
            </div>
        </div>
    </div>
</section>
