<section id="perche" class="download bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Perché Dreamo</h2>
                <h3><strong>Scopo e funzionamento</strong></h3>
                <p>Il focus centrale del progetto è la generazione di un risultato visivo che scaturisca dall’informazione raccolta dalla sensoristica.</p>
	              <p>Gli ingressi del dispositivo saranno infatti un set di sensori biomedici (battito cardiaco, EEG, pH della pelle, chiusura della palpebra…) e/o input audio (ingresso microfonico o ingresso audio di linea).</p>
                <p>A partire dai dati ricavati, e sulla basi di principi estetici e psicologici, l’algoritmo genererà il video,  modificando  in tempo reale vari parametri (colore, forme generate, tipo di animazione, ….).</p>
            </div>
        </div>
    </div>
</section>
