<section id="perche" class="download bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Perché Dreamo</h2>
                <h3><strong>Scopo e funzionamento</strong></h3>
                <p>Per arte generativa si intende ogni pratica artistica in cui l’artista usi un sistema attivato secondo un certo grado di autonomia che produce un’opera d’arte finita.</p>
	              <p>Facendo di tali premesse la nostra filosofia di lavoro, abbiamo sviluppato l’idea di un generatore di video real-time, basato su sensoristica per biosegnali e su ingressi audio.</p>
                <p>Il nostro obiettivo è quindi quello di realizzare un dispositivo stand-alone per la generazione semiautomatica di video astratti, utilizzabili in performance musicali ed artistiche, che conferiscano forza e valore all’esibizione.</p>
            </div>
        </div>
    </div>
</section>
