<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>DREAMO</h1>
                        <h2>Bio-Acoustical Driven Visual Generator</h2>
                        <p class="lead">
                        	Il progetto Dreamo è finalizzato allo sviluppo 
                        	di un generatore semiautomatico di video in real-time, 
                        	basato su sensoristica biomedica e su ingressi audio.
                        </p>
                        <a href="/call" class="btn btn-warning btn-lg page-scroll">** CALL FOR VISUALS **</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
            	<div id="logo">
	                <img src="/img/logo_dreamo2.png" class="img-responsive" alt="">
	            </div>
            </div>
        </div>
    </div>
</header>
