<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}img/logo_dreamo_nav.png"</a>

		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					{% assign vocemenu = 'name_' | append: page.lang %}
					<a class="page-scroll" href="#perche">{{ page[vocemenu]}}</a>
				</li>
				{% for feature in site.sezioni %}
				<li>
					{% assign vocemenu = 'name_' | append: page.lang %}
					<a class="page-scroll" href="#{{ feature.nid }}">{{ feature[vocemenu] }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<!-- /.navbar-collapse -->
		<div class="wrapper" style="text-align: right; line-height: 2em">
			<ul >
				{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
				{% for page in pages %}
				<li style="float:right">
					<a href="{{ site.baseurl }}{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

	</div>
	<!-- /.container-fluid -->
</nav>
